In [1]:
import pyspark
import pandas as pd

In [2]:
# in order to use pyspark, I need to start a spark session
from pyspark.sql import SparkSession

In [3]:
# starting session name and creating session name
spark = SparkSession.builder.appName('Practice').getOrCreate()

25/04/09 09:57:02 WARN Utils: Your hostname, Ayushs-MacBook-Pro-9.local resolves to a loopback address: 127.0.0.1; using 10.193.109.92 instead (on interface en0)
25/04/09 09:57:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/09 09:57:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
df_salary = spark.read.csv('/Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv')

In [6]:
# dtypes are default string. add inferScheme argument to fix this
df_salary = spark.read.option('header', 'true').csv('/Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv', inferSchema=True)

In [7]:
df_salary.show()

+---+------------------+-------+
|_c0|   YearsExperience| Salary|
+---+------------------+-------+
|  0|1.2000000000000002|39344.0|
|  1|1.4000000000000001|46206.0|
|  2|               1.6|37732.0|
|  3|               2.1|43526.0|
|  4|2.3000000000000003|39892.0|
|  5|               3.0|56643.0|
|  6|               3.1|60151.0|
|  7|3.3000000000000003|54446.0|
|  8|3.3000000000000003|64446.0|
|  9|3.8000000000000003|57190.0|
| 10|               4.0|63219.0|
| 11|               4.1|55795.0|
| 12|               4.1|56958.0|
| 13| 4.199999999999999|57082.0|
| 14|               4.6|61112.0|
| 15|               5.0|67939.0|
| 16| 5.199999999999999|66030.0|
| 17|5.3999999999999995|83089.0|
| 18|               6.0|81364.0|
| 19|               6.1|93941.0|
+---+------------------+-------+
only showing top 20 rows

25/04/09 09:57:06 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , YearsExperience, Salary
 Schema: _c0, YearsExperience, Salary
Expected: _c0 but found:
CSV file: file:///Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv

In [8]:
df_salary.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- YearsExperience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [9]:
# ALTERNATIVELY, i can do this in the read.csv() step
df_salary = spark.read.csv('/Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv', header=True, inferSchema=True)

In [10]:
df_salary.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- YearsExperience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [11]:
df_salary.columns

['_c0', 'YearsExperience', 'Salary']

In [12]:
# selecting column
df_salary.select('YearsExperience').show()

+------------------+
|   YearsExperience|
+------------------+
|1.2000000000000002|
|1.4000000000000001|
|               1.6|
|               2.1|
|2.3000000000000003|
|               3.0|
|               3.1|
|3.3000000000000003|
|3.3000000000000003|
|3.8000000000000003|
|               4.0|
|               4.1|
|               4.1|
| 4.199999999999999|
|               4.6|
|               5.0|
| 5.199999999999999|
|5.3999999999999995|
|               6.0|
|               6.1|
+------------------+
only showing top 20 rows

In [13]:
df_salary.select(['YearsExperience', 'Salary']).show()

+------------------+-------+
|   YearsExperience| Salary|
+------------------+-------+
|1.2000000000000002|39344.0|
|1.4000000000000001|46206.0|
|               1.6|37732.0|
|               2.1|43526.0|
|2.3000000000000003|39892.0|
|               3.0|56643.0|
|               3.1|60151.0|
|3.3000000000000003|54446.0|
|3.3000000000000003|64446.0|
|3.8000000000000003|57190.0|
|               4.0|63219.0|
|               4.1|55795.0|
|               4.1|56958.0|
| 4.199999999999999|57082.0|
|               4.6|61112.0|
|               5.0|67939.0|
| 5.199999999999999|66030.0|
|5.3999999999999995|83089.0|
|               6.0|81364.0|
|               6.1|93941.0|
+------------------+-------+
only showing top 20 rows

In [14]:
df_salary.dtypes

[('_c0', 'int'), ('YearsExperience', 'double'), ('Salary', 'double')]

In [15]:
df_salary.describe().show()

25/04/09 09:57:07 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , YearsExperience, Salary
 Schema: _c0, YearsExperience, Salary
Expected: _c0 but found:
CSV file: file:///Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv

+-------+-----------------+------------------+------------------+
|summary|              _c0|   YearsExperience|            Salary|
+-------+-----------------+------------------+------------------+
|  count|               30|                30|                30|
|   mean|             14.5| 5.413333333333332|           76004.0|
| stddev|8.803408430829505| 2.837888157662718|27414.429784582302|
|    min|                0|1.2000000000000002|           37732.0|
|    max|               29|              10.6|          122392.0|
+-------+-----------------+------------------+------------------+

In [16]:
# adding columns in data frame
df_salary.withColumn('YearsExperience After 2 Years', df_salary['YearsExperience'] + 2).show()

+---+------------------+-------+-----------------------------+
|_c0|   YearsExperience| Salary|YearsExperience After 2 Years|
+---+------------------+-------+-----------------------------+
|  0|1.2000000000000002|39344.0|                          3.2|
|  1|1.4000000000000001|46206.0|           3.4000000000000004|
|  2|               1.6|37732.0|                          3.6|
|  3|               2.1|43526.0|                          4.1|
|  4|2.3000000000000003|39892.0|            4.300000000000001|
|  5|               3.0|56643.0|                          5.0|
|  6|               3.1|60151.0|                          5.1|
|  7|3.3000000000000003|54446.0|            5.300000000000001|
|  8|3.3000000000000003|64446.0|            5.300000000000001|
|  9|3.8000000000000003|57190.0|            5.800000000000001|
| 10|               4.0|63219.0|                          6.0|
| 11|               4.1|55795.0|                          6.1|
| 12|               4.1|56958.0|                          6.1|
| 13| 4.199999999999999|57082.0|            6.199999999999999|
| 14|               4.6|61112.0|                          6.6|
| 15|               5.0|67939.0|                          7.0|
| 16| 5.199999999999999|66030.0|            7.199999999999999|
| 17|5.3999999999999995|83089.0|           7.3999999999999995|
| 18|               6.0|81364.0|                          8.0|
| 19|               6.1|93941.0|                          8.1|
+---+------------------+-------+-----------------------------+
only showing top 20 rows

25/04/09 09:57:07 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , YearsExperience, Salary
 Schema: _c0, YearsExperience, Salary
Expected: _c0 but found:
CSV file: file:///Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv

In [17]:
df_salary = df_salary.drop('YearsExperience After 2 Years')

In [18]:
df_salary.show()

+---+------------------+-------+
|_c0|   YearsExperience| Salary|
+---+------------------+-------+
|  0|1.2000000000000002|39344.0|
|  1|1.4000000000000001|46206.0|
|  2|               1.6|37732.0|
|  3|               2.1|43526.0|
|  4|2.3000000000000003|39892.0|
|  5|               3.0|56643.0|
|  6|               3.1|60151.0|
|  7|3.3000000000000003|54446.0|
|  8|3.3000000000000003|64446.0|
|  9|3.8000000000000003|57190.0|
| 10|               4.0|63219.0|
| 11|               4.1|55795.0|
| 12|               4.1|56958.0|
| 13| 4.199999999999999|57082.0|
| 14|               4.6|61112.0|
| 15|               5.0|67939.0|
| 16| 5.199999999999999|66030.0|
| 17|5.3999999999999995|83089.0|
| 18|               6.0|81364.0|
| 19|               6.1|93941.0|
+---+------------------+-------+
only showing top 20 rows

25/04/09 09:57:08 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , YearsExperience, Salary
 Schema: _c0, YearsExperience, Salary
Expected: _c0 but found:
CSV file: file:///Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv

In [19]:
# Rename the Column

df_salary.withColumnRenamed('YearsExperience', 'Experience').show()

+---+------------------+-------+
|_c0|        Experience| Salary|
+---+------------------+-------+
|  0|1.2000000000000002|39344.0|
|  1|1.4000000000000001|46206.0|
|  2|               1.6|37732.0|
|  3|               2.1|43526.0|
|  4|2.3000000000000003|39892.0|
|  5|               3.0|56643.0|
|  6|               3.1|60151.0|
|  7|3.3000000000000003|54446.0|
|  8|3.3000000000000003|64446.0|
|  9|3.8000000000000003|57190.0|
| 10|               4.0|63219.0|
| 11|               4.1|55795.0|
| 12|               4.1|56958.0|
| 13| 4.199999999999999|57082.0|
| 14|               4.6|61112.0|
| 15|               5.0|67939.0|
| 16| 5.199999999999999|66030.0|
| 17|5.3999999999999995|83089.0|
| 18|               6.0|81364.0|
| 19|               6.1|93941.0|
+---+------------------+-------+
only showing top 20 rows

25/04/09 09:57:08 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , YearsExperience, Salary
 Schema: _c0, YearsExperience, Salary
Expected: _c0 but found:
CSV file: file:///Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv

In [20]:
# without reassignment df_salary will not change, similar to pandas
df_salary.show()

25/04/09 09:57:08 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , YearsExperience, Salary
 Schema: _c0, YearsExperience, Salary
Expected: _c0 but found:
CSV file: file:///Users/ayushshastry/Desktop/pyspark/data/Salary_dataset.csv

+---+------------------+-------+
|_c0|   YearsExperience| Salary|
+---+------------------+-------+
|  0|1.2000000000000002|39344.0|
|  1|1.4000000000000001|46206.0|
|  2|               1.6|37732.0|
|  3|               2.1|43526.0|
|  4|2.3000000000000003|39892.0|
|  5|               3.0|56643.0|
|  6|               3.1|60151.0|
|  7|3.3000000000000003|54446.0|
|  8|3.3000000000000003|64446.0|
|  9|3.8000000000000003|57190.0|
| 10|               4.0|63219.0|
| 11|               4.1|55795.0|
| 12|               4.1|56958.0|
| 13| 4.199999999999999|57082.0|
| 14|               4.6|61112.0|
| 15|               5.0|67939.0|
| 16| 5.199999999999999|66030.0|
| 17|5.3999999999999995|83089.0|
| 18|               6.0|81364.0|
| 19|               6.1|93941.0|
+---+------------------+-------+
only showing top 20 rows

In [21]:
df_missing = spark.read.csv('/Users/ayushshastry/Desktop/pyspark/data/names_with_scores.csv', header=True, inferSchema=True)
df_missing.show()

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|    Bob|  NULL|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
|  Ethan|  NULL|  76.0|
+-------+------+------+

In [22]:
# drop columns
df_missing.drop('Name').show(), df_missing.show()

+------+------+
|Score1|Score2|
+------+------+
|  85.0|  NULL|
|  NULL|  88.0|
|  78.0|  91.0|
|  92.0|  NULL|
|  NULL|  76.0|
+------+------+

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|    Bob|  NULL|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
|  Ethan|  NULL|  76.0|
+-------+------+------+

(None, None)

In [23]:
# dropping rows with null values
df_missing.na.drop().show()

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|Charlie|  78.0|  91.0|
+-------+------+------+

In [24]:
# when how == all, only rows with ALL NULL values will be dropped, by default - how == any

df_missing.na.drop(how='all').show()

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|    Bob|  NULL|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
|  Ethan|  NULL|  76.0|
+-------+------+------+

In [25]:
df_missing.na.drop(how='any', thresh=2).show() # thresh says that it will only delete rows if count(null_values) > thresh
# in my case, nothing gets dropped

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|    Bob|  NULL|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
|  Ethan|  NULL|  76.0|
+-------+------+------+

In [26]:
# subset parameter in drop()
df_missing.na.drop(how='any', subset=['Score1']).show() # will only take out null values w.r.t to a(multiple) columns

# in the case, I deleted all null values present in Score1 column

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
+-------+------+------+

In [27]:
# filling NA values

df_missing.na.fill(0, subset=["Score1"]).show() # works the same as drop in terms of paraemeters

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|    Bob|   0.0|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
|  Ethan|   0.0|  76.0|
+-------+------+------+

In [28]:
df_missing.show()

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  NULL|
|    Bob|  NULL|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  NULL|
|  Ethan|  NULL|  76.0|
+-------+------+------+

In [29]:
# using imputer function
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = df_missing.columns[1:],
    outputCols = ["{}_imputed".format(c) for c in df_missing.columns[1:]] # format.(c) puts whatever c is in between the {}
).setStrategy("mean")

In [30]:
df_fixed = imputer.fit(df_missing).transform(df_missing) # we can see replaced values appended at the end of original table

In [31]:
df_fixed.show()

+-------+------+------+--------------+--------------+
|   Name|Score1|Score2|Score1_imputed|Score2_imputed|
+-------+------+------+--------------+--------------+
|  Alice|  85.0|  NULL|          85.0|          85.0|
|    Bob|  NULL|  88.0|          85.0|          88.0|
|Charlie|  78.0|  91.0|          78.0|          91.0|
|  Diana|  92.0|  NULL|          92.0|          85.0|
|  Ethan|  NULL|  76.0|          85.0|          76.0|
+-------+------+------+--------------+--------------+

In [32]:
df_fixed = df_fixed.drop("Score1", "Score2")

In [33]:
df_fixed = df_fixed.withColumnRenamed('Score1_imputed', 'Score1')

In [34]:
df_fixed = df_fixed.withColumnRenamed('Score2_imputed', 'Score2')
df_fixed.show()

+-------+------+------+
|   Name|Score1|Score2|
+-------+------+------+
|  Alice|  85.0|  85.0|
|    Bob|  85.0|  88.0|
|Charlie|  78.0|  91.0|
|  Diana|  92.0|  85.0|
|  Ethan|  85.0|  76.0|
+-------+------+------+

In [35]:
# 46:12